.commentario{
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.img-comments{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.write-comments{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0px;
    border: none;
    background-color: transparent;
    color: black;
}

.btn-comments{
    border: none;
    background-color: #5271ff;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
}
.input-comments{
    flex: 5;
    padding: 10px;
}
.info-comments{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: flex-start;
}

.span-comments{
    font-weight: 500;
}

.p-comments{
    color: black;
}

.hora-comments{
    flex: 1;
    align-self: center;
    color: gray;
    font-size: 12px;
}